@font-face {
    font-family: 'ut';
    src: url("../img/fonts/ALSSchlangesans-Bold.a73482cd3db781e577d3.woff");
}

@font-face {
    font-family: 'utk';
    src: url("../img/fonts/ALSSchlangesans.9028bd488cd4028367ab.woff");
}

